<ion-header>
	<ion-navbar color="primary">
		<button ion-button menuToggle>
      		<ion-icon name="menu"></ion-icon>
    	</button>
		<ion-title>Login</ion-title>
	</ion-navbar>
</ion-header>

<ion-content>

		
	<div class="logo">
		<img src="assets/img/Cloud-Camera-icon.png" alt="Autophoto logo">
		<h1>Autophoto</h1>
	</div>


	<button ion-button block color="danger" class="google-sign-in button button-block" (click)="googleSignIn()">Sign in with Google</button>
	<!-- <button ion-button block color="danger" class="google-sign-in button button-block" (click)="googleSignInOld()">Sign in with Google Old</button> -->
		
	

</ion-content>