page-event {
	.photoItem {
		img.photo {
			width:100%;
		}
	}

	.galleryGrid{
        width: 100px;
        margin-top: 5px;
        height: 100px;
        margin-left: 4%;
        margin-right: 5px;
        display: inline;
    }
}
/*
step-to-move=10;
if exist cloud:/path/refresh.flg
then 
	delete refresh.flg 
	step-to-move = step-to-move*-1
	set cursor to 100,100+step-to-move

*/