<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
  	 <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Create Event
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<!-- createBy,location,title,description,coverPictureUrl -->
	<ion-list>

	  <ion-item>
	    <ion-label color="primary" floating>Title</ion-label>
	    <ion-input clearInput [(ngModel)]="newEvent.title"></ion-input>
	  </ion-item>

	  <ion-item>
	  	<ion-label color="primary">Description</ion-label>
	    <ion-textarea placeholder="Enter a description" [(ngModel)]="newEvent.description" clearInput></ion-textarea>
	  </ion-item>
	 
	  <ion-item>
	    <ion-label color="primary">Location</ion-label>
	    <ion-input placeholder="Choose location" [(ngModel)]="newEvent.location" clearInput></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label color="primary">Cover Picture URL</ion-label>
	    <ion-input placeholder="Cover picture here" clearInput [(ngModel)]="newEvent.coverPictureUrl"></ion-input>
	  </ion-item>


	  <!-- <ion-item>
	    <ion-label color="primary">Create By</ion-label>
	    <ion-input placeholder="Text Input"></ion-input>
	  </ion-item> -->
	  
<!-- 	  <ion-item>
	    <ion-input placeholder="Clear Input" clearInput></ion-input>
	  </ion-item> -->
	  <!-- <ion-item>
	    <ion-input type="number" placeholder="Number Input with no label"></ion-input>
	  </ion-item> -->

	  <!-- <ion-item>
	    <ion-label color="primary" stacked>Stacked Label</ion-label>
	    <ion-input type="email" placeholder="Email Input"></ion-input>
	  </ion-item> -->

	  <!-- <ion-item>
	    <ion-label color="primary" stacked>Stacked Label</ion-label>
	    <ion-input type="password" placeholder="Password Input"></ion-input>
	  </ion-item> -->
	</ion-list>

	<!-- <ion-list inset>
      <input ion-item (click)="updatePicture()">Update Picture</button>
      <button ion-item (click)="changeUsername()">Change Username</button>
      <button ion-item (click)="changePassword()">Change Password</button>
      <button ion-item (click)="support()">Support</button>
      <button ion-item (click)="logout()">Logout</button>
      <button ion-item>Update Picture</button>
      <button ion-item>Change Username</button>
      <button ion-item>Change Password</button>
      <button ion-item>Support</button>
      <button ion-item>Logout</button>
    </ion-list> -->
    <button class="button button-royal" (click)="createEvent()">
	  Create
	</button>
</ion-content>
