<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
  	 <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Create Event
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
	<!-- send params: createBy,location,title,description,coverPictureUrl -->
	<!-- <ion-list> -->

		<ion-item>
			<ion-label color="primary" floating>Title</ion-label>
			<ion-input clearInput [(ngModel)]="newEvent.title"></ion-input>
		</ion-item>

		<ion-item>
			<ion-label color="primary">Description</ion-label>
			<ion-textarea placeholder="Enter a description" [(ngModel)]="newEvent.description" clearInput></ion-textarea>
		</ion-item>

		<ion-item>
			<ion-label color="primary">Location</ion-label>
			<ion-input placeholder="Choose location" [(ngModel)]="newEvent.location" clearInput></ion-input>
		</ion-item>

		<ion-item>
			<ion-label color="primary">Cover Picture URL</ion-label>
			<ion-input placeholder="Cover picture here" clearInput [(ngModel)]="newEvent.coverPictureUrl"></ion-input>
		</ion-item>

	<!-- </ion-list> -->

	<!-- <ion-list inset>
      <button ion-item color="primary" class="button-full" (click)="createEvent()">Create</button>
    </ion-list> -->
    <button ion-item color="primary" (click)="createEvent()">Create</button>

</ion-content>
